@page
@model shoptry.Pages_Cart.AddModel

@{



	ViewData["Title"] = "Edit";
}

<h1>Cart</h1>

<h4>Added to Cart</h4>
<hr />
<div class="row">

</div>

<div>
	<a asp-page="../Product/Index">Back to Product List</a>
	@* <a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a> *@
</div>
