@page
@model shoptry.Pages_Cart.RemoveModel

@{
    ViewData["Title"] = "Item Removed";
}

<h1>Cart</h1>

<h4>Removed from Cart</h4>
<hr />
<div class="row">

</div>

<div>
    <a asp-page="../Cart/View">Back to Cart</a>
</div>
