html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* background-color: rgb(213, 156, 156);*/
  background-image: url("../css/images/shoptryc.jpg");
}

.no-click {
  pointer-events: none;
}


footer {
  background-color: bisque;
}

.container {
  background-color: bisque;
  font-weight: 500;
}

#play {
  width: 100%;

  ;

}

.home {
  width: 33%;
  border: 2px black outset;
}

#company {
  display: inline-flex;
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}

.news {
  width: 76%;
  background: #cc4444;
  padding: 0 2%;
  font-weight: bold;
}

.title {
  width: 20%;
  text-align: center;
  background: #c81c1c;
  position: relative;
}

.title:after {
  position: absolute;
  content: "";
  right: -16%;
  border-left: 20px solid #c81c1c;
  border-top: 33px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 33px solid transparent;
  top: 0;

}

.title h5 {
  font-size: 18px;
  margin: 11% 0;

}

.news marquee {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;

}

.nav-link:hover {

  /*background: rgb(133, 133, 192);*/
  background-color: rgb(213, 156, 156);
  padding: 15px 2px;
  transition: 0.2s;
  font-style: oblique;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: rgb(213, 156, 156);
  padding: 15px 2px;
  transition: 0.2s;
  font-style: oblique;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.srch:hover {
  background-color: rgb(213, 156, 156);
  padding: 5px 2px;
  transition: 0.2s;
  font-style: oblique;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.table:hover {
  background-color: rgb(213, 156, 156);
  padding: 5px 2px;
  transition: 0.2s;
  font-style: oblique;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  background-color: rgb(213, 156, 156);
  padding: 5px 2px;
  transition: 0.2s;
  font-style: oblique;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  color: #0077cc;


}

a {
  text-decoration: none;
  color: brown;
  font-weight: 500;
}