@page
@model AboutModel
@{
    ViewData["Title"] = "Company Info";
}
<h1>@ViewData["Title"]</h1>

<p>Since 1984, Shoptry Canada has been Canada’s dedicated specialty retailer of toys and baby products.</p>
<p>The company brings national brands, exclusive products, innovative loyalty programs and unique partnerships to</p>
<p>Canadians at its 81 stores across Canada and through its e-commerce sites Toysrus.ca and Babiesrus.ca.</p>
<p>Committed to giving back to its communities, the company focuses its charity efforts on supporting children and their
</p>
<p>families – whether enhancing resources and services, helping development through play or offering encouragement to
    seriously ill children.</p>
<a href="https://localhost:7130/Product">
    <div id="company"><img class="home" src="css/images/home.jpg"><img class="home" src="css/images/vgames.jpg"><img
            class="home" src="css/images/gameAll.jpg"></div>
</a>