@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<h3>
    <p>
    <div><a href="https://localhost:7130/"></a><span style="color:red;">S</span>
        <span style="color:green;">h</span>
        <span style="color:purple;">o</span>
        <span style="color:orange;">p</span>
        <span style="color:blue;">T</span>
        <span style="color:yellowgreen;">r</span>
        <span style="color:brown;">y</span></a>
    </div>

    <div>100 St-Joseph</div>
    <div>Gatineau-Hull,Quebec,Canada</div>
    <div>J8Z-1B1</div>
    <div>Tel:(819)-123-1234</div>
    <div>email: shoptry@yahoo.ca</div>
    <div><a href="https://localhost:7130/">www.shoptry.ca</a></div>
    </p>
</h3>
