@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To <span style="color:red;">S</span>
        <span style="color:green;">h</span>
        <span style="color:purple;">o</span>
        <span style="color:orange;">p</span>
        <span style="color:blue;">T</span>
        <span style="color:yellowgreen;">r</span>
        <span style="color:brown;">y</span>
    </h1>
    <div class="msg">
        <div class="ticker">
            <div class="title">
                <h5>New Arrival</h5>
            </div>
            <div class="news">
                <marquee>
                    <p>
                        New Arrival Video Games, New Arrivals Wing Commander III Heart
                        Of The Tiger Wing Commander III Heart Of The Tiger Professionally
                        scripted and filmed in Hollywood, ORIGIN's multi-million dollar
                        production combines the entertainment of film-making with the
                        interactivity of computer gaming.
                    </p>
                </marquee>
            </div>
        </div>
    </div>
</div>
<div><img id="play" src="css/images/play.jpg"></div>
</div>
