@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <p>The "Shoptry" Family includes Toys & Video Games "Shoptry" (Canada) Ltd.</p>
    <p>and its affiliates (collectively, the ""shoptry" Family</p>
    <p>members" or the ""Shoptry" Family"). This Privacy Policy</p>
    <p>outlines "shoptry" Family practices regarding personal</p>
    <p>information collected (a) online at Shoptry and</p>
    <p>Shoptry Babies and any other websites and/or apps which</p>
    <p>"Shoptry" (Canada) Ltd. links to this Privacy Policy</p>
    <p>(collectively as "our websites"); (b) when you call,</p>
    <p>e-mail or otherwise communicate with "Shoptry" (Canada)</p>
    <p>Ltd., including at our call centers; and (c) at "Shoptry"</p>
    <p>retail stores in Canada (the "Retail Stores").</p>
</div>
