@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card">
    <p>The "Shoptry" Family includes Toys & Video Games "Shoptry" (Canada) Ltd.
        and its affiliates (collectively, the ""shoptry" Family
        members" or the ""Shoptry" Family"). This Privacy Policy
        outlines "shoptry" Family practices regarding personal
        information collected (a) online at Shoptry and
        Shoptry Babies and any other websites and/or apps which
        "Shoptry" (Canada) Ltd. links to this Privacy Policy
        (collectively as "our websites"); (b) when you call,
        e-mail or otherwise communicate with "Shoptry" (Canada)
        Ltd., including at our call centers; and (c) at "Shoptry"
        retail stores in Canada (the "Retail Stores").</p>
</div>
